<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.72.0">
    <title>Youtuber loader</title>



    <!-- Bootstrap core CSS -->
    <link href="/boostrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Favicons -->
    <meta name="theme-color" content="#7952b3">


    <link rel="stylesheet" href="css/main.css">


</head>

<body class="d-flex h-100 text-center text-white bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">YTL</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="/about">About</a>
                </nav>
            </div>
        </header>

        <main class="px-3">
            {{#if downloadData}}

            {{ else }}
            <h1>Youtube Loader</h1>
            <p style="color:cadetblue;">Convert Youtube videos into mp3 format</p>
            <div id='alert'></div>
            
            <div id="spinner">
            </div>
                <input type="text" class="form-control" placeholder="Please insert valid video URL">
                </br>
                <button type="submit"  id="covert-button" class="btn btn-danger">Convert</button>
            {{/if}}
            <br>
            <div class="container" style="width: 25rem; background-color: inherit;">
                {{#if downloadData}}
                <div class="row">
                    <div class="col-sm">
                        <img src="{{downloadData.thumbnail}}" class="card-img-top" alt="...">
                        <p>{{downloadData.videoTitle}}</p>

                        <!-- <p class="card-text">file name</p> -->
                        <a href="/convert/download" class="btn btn-success">Download MP3</a>
                        <a href="/" class="btn btn-warning">Convert again</a>
                    </div>

                </div>
                {{/if}}
            </div>
        </main>

        <footer class="mt-auto text-white-50">
            <p>Copyright &copy; 2020. All rights reserved</p>
        </footer>
    </div>
    <script src="main.js"></script>
</body>

</html>